h1{
    font-size: 100px;
    text-align: center;
    padding: 5px;
    background-color: blue;
    border-radius: 15px;
}

button{
    font-size: 20px;
    padding: 15px;    
    background-color: blueviolet;
    margin: 10px;
}

.contador{
    display: flex;
    justify-content: center;
    align-items: center;
}